<h1>All Questions <%= link_to "New Question", new_question_path, class: 'btn btn-success' %></h1>
<% @questions.each do |question| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <p><%= link_to question.title, question%>
          <% if question.resolved %>
            <span class="bg-success">Resolved</span>
          <% else %>
            <span class="bg-warning">Unresolved</span>
          <% end %>
        </p>
      </h4>
    </div>
  </div>
<% end %>
